<h2 id="title">Ember-text-mask</h2>

<h3><code>MaskedInputComponent</code></h3>

<p>
  Add the following markup to your template to render a masked input component.
</p>

{{code-snippet name="masked-input-example.hbs"}}
{{! BEGIN-SNIPPET masked-input-example}}
{{masked-input}}
{{! END-SNIPPET}}
<p>
  By default, with no <code>mask</code> specified, the rendered <code>input</code> element will not allow any input.
</p>

<h4>Mask</h4>

<p>
  In the template's controller, specify a <code>mask</code>.
</p>
{{code-snippet name="controller-mask-example.js"}}

<p>
  Then pass the <code>mask</code> to the component in the template.
</p>
{{code-snippet name="masked-input-basic-example.hbs"}}

{{! BEGIN-SNIPPET masked-input-basic-example}}
{{masked-input mask=mask}}
{{! END-SNIPPET}}

<h4>Value</h4>

<p>
  You can access the <code>value</code> of the component as you would with any
  <code>input</code> element.
</p>
{{code-snippet name="masked-input-value-example.hbs"}}

{{! BEGIN-SNIPPET masked-input-value-example}}
{{masked-input mask=mask value=theValue}} value: {{theValue}}
{{! END-SNIPPET}}

<hr />

<h4>Extending the <code>MaskedInputComponent</code></h4>

<p>
  You can also extend the <code>MaskedInputComponent</code> to create your own.
</p>
{{code-snippet name="extend-masked-input-example.js"}}
